/.bundle/
/.yardoc
/_yardoc/
coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/
!/tmp/.keep

# OSx files
.DS_Store

# Ignore all .swp files
*.swp

# Ignore all .swo files
*.swo

# Ignore all .gem files
*.gem
